{
  "plugins": [[
		"import-redirect",
		{
			"extraFunctions": "custom_require_function",
			"redirect": {
				"/examples(?:/\\w+)*/(\\w+)\\.js$" : "node_module/$1"
			},
			"root": "./examples"
		}
	]]
}
