{
  "plugins": [[
		"import-redirect",
		{
			"extraFunctions": "custom_require_function",
			"redirect": {
				"not_exist_node_module" : "different_node_module"
			},
			"root": "./examples"
		}
	]]
}
