{
  "plugins": [[
		"import-redirect",
		{
			"extraFunctions": "custom_require_function",
			"redirect": {
				"node_module/([\\w.]+)$" : "different_node_module/$1"
			},
			"root": "./examples"
		}
	]]
}
